<h1>Find the spell: </h1>
<form [formGroup]="spellsFormGroup">
    <label for="name">Name: </label>
    <input type="text" formControlName="name">
</form>
<table>
    <thead>
        <td>Name</td>
        <td>Incantation</td>
        <td>Effect</td>
    </thead>
    <tr *ngFor="let spell of spells$ | async">
        <td>{{spell.name}}</td>
        <td>{{spell.incantation}}</td>
        <td>{{spell.effect}}</td>
    </tr>
</table>